name: "Test"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'CMakeLists.txt'
      - 'inc/**'
      - 'pyproject.toml'
      - 'python/**'
      - 'pyproject.toml'
      - 'tests/**'

jobs:
  build:
    name: Build with Pip
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: false
    - name: Build and install
      run: |
        pip install --group build --group test
        make wheel
        pip install dist/*
    - name: Test
      run: make test
